<%- include("partials/header") -%>

<h2><%= titulo %></h2>
<p class="update">(Ultima Actualizacion: <%= fechaSis %>)</p>
<div class="table-responsive-md">
  <table class="table table-sm table-striped">
    <caption>Participantes</caption>
    <thead class="stbl_head">
      <tr>
        <th scope="col"></th>
        <% tituloFila.forEach( function (rowContent){%>
        <th scope="col"><%= rowContent.title %></th>
        <% }); %>
        <th class="result" scope="col">Puntos</th>
      </tr>
    </thead>
    <tbody>
        <% data.forEach( function (i){%>
        <tr>
          <th scope="row"><%= i.person_id %></th>
          <% i.bet.forEach( function (j){%>
          <td><%=j.betSelect[0]%></td>
          <% }); %>
          <td class="result"><%=i.puntos%></td>
        </tr>
        <tr>
          <th scope="row"></th>
          <% i.bet.forEach( function (j){%>
          <td><%=j.betSelect[2] +"   -   "+ j.betSelect[3]%></td>
          <% }); %>
        </tr>
        <% }); %>
    </tbody>
  </table>
</div>

<%- include("partials/footer") -%>
